language: cpp

sudo: required

dist: trusty

compiler:
- gcc

os:
- linux

env:
- QT_VERSION=qt56 QT_PPA=qt563
- QT_VERSION=qt57 QT_PPA=qt571
- QT_VERSION=qt58 QT_PPA=qt58
- QT_VERSION=qt59 QT_PPA=qt593
- QT_VERSION=qt510 QT_PPA=qt-5.10.1

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-$QT_PPA-trusty
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install $QT_VERSION-meta-minimal

script:
  - . /opt/$QT_VERSION/bin/$QT_VERSION-env.sh
  - qmake
  - make
  - make check

