language: cpp

sudo: required

dist: bionic

compiler:
- gcc

os:
- linux

env:
- QT_VERSION=qt512 QT_PPA=qt-5.12.7
- QT_VERSION=qt513 QT_PPA=qt-5.13.2
- QT_VERSION=qt514 QT_PPA=qt-5.14.1

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-$QT_PPA-xenial
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install $QT_VERSION-meta-minimal

script:
  - . /opt/$QT_VERSION/bin/$QT_VERSION-env.sh
  - qmake
  - make
  - make check

