version: 1.6.{build}
build:
  verbosity: minimal

environment:
    matrix:
    # Qt 5.12
    - QTDIR: C:\Qt\5.12\msvc2017_64
      CMD_VCVARSALL: '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64'
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    # Qt 5.15
    - QTDIR: C:\Qt\5.15\msvc2019_64
      CMD_VCVARSALL: '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64'
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    # Qt 6.2
    - QTDIR: C:\Qt\6.2\msvc2019_64
      CMD_VCVARSALL: '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64'
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    # Qt 6.5
    - QTDIR: C:\Qt\6.5\msvc2019_64
      CMD_VCVARSALL: '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64'
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019 
    # Qt 6.6
    #- QTDIR: C:\Qt\6.6\msvc2019_64
    #  CMD_VCVARSALL: '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64'
    #  APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
branches:
  only:
    - master
install:
  - call %CMD_VCVARSALL%
  - set PATH=%PATH%;%QTDIR%\bin
build_script:
  - qmake
  - nmake
  - nmake check


